[Unit]
Description=Gunicorn instance to serve ClassifiedsApp
After=network.target

[Service]
User=apps
Group=www-data
WorkingDirectory=/home/apps/ClassifiedsApp
Environment="PATH=/home/apps/.local/bin"
ExecStart=/home/apps/.local/bin/gunicorn --workers 3 --bind unix:classifieds.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target